

@{
    
}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Learner</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="~/css/userDashboard.css">

   

</head>
<body>



<!-- header section start -->

    <header class="header">

        <section class="flex">
            <a href="#" class="logo">ASPIRE SYSTEMS</a>

            <form asp-action="Search" asp-controller="Learner" asp-route-name="" method="post" class="search-bar">
                <input type="search" id="search-bar" name="name" placeholder="Search courses" required>
                <button type="submit"><i class="bi bi-search"></i></button>
            </form>


            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <div id="menu-btn" class="fas fa-bars"></div>
                <div id="toggle-btn" class="fas fa-sun"></div>
                <div id="user-btn" class="fas fa-user"></div>
            </div>

            <div class="profile">
                <img src="~/media/admin.jpg" alt="alternate">
                <h3 style="font-weight:bold">@User.Identity?.Name</h3>
                <span style="font-weight:bold">Learner</span>
                <button  onclick="document.getElementById('id01').style.display='block'" style="width:auto; background-color:violet; color:black;" class="option-btn">View Profile</button>
                <div class="flex-btn">
                    <a asp-action="Logout" asp-controller="Account" class="delete-btn">Logout</a>
                </div>
            </div>
        </section>

    </header>

    <p class="text-danger notify">@TempData["notify"]</p>
    <p class="text-success notify">@TempData["success"]</p>

    
    <!-- header section end -->

<!-- side bar section start -->

<section class="side-bar">
    <div class="close-side-bar">
        <i class="fas fa-times"></i>
    </div>
    <div class="profile">
        <img src="~/media/admin.jpg" alt="alternate">
        <h3 class="name" style="font-weight:bold">@User.Identity?.Name</h3>
        <span class="role">Learner</span>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="option-btn">View Profile</button>
        <div id="id01" class="modal">
  
            <form class="modal-content animate" method="post">
                <div class="imgcontainer">
                <span  onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="~/media/admin.jpg" alt="Avatar" class="avatar">
                </div>

                <h3 class="name" style="font-weight:bold">@User.Identity?.Name</h3>
                <span class="role">Learner</span>

                
            </form>
        </div>
    </div>

    <div class="menu">
         <a asp-action="Index" asp-controller="Learner"><i class="fas fa-home"></i><span>Home</span></a>
         <a asp-action="MyLearning" asp-controller="Learner"><i class="fas fa-graduation-cap"></i><span>My Learning</span></a>
         <a asp-action="StatusUpdate" asp-controller="Learner"><i class="bi bi-bar-chart-line-fill"></i></i><span>Update Status</span></a>
         <a asp-action="Contact" asp-controller="Learner"><i class="fas fa-headset"></i><span>HelpDesk</span></a>
    </div>
</section>


<!--Side bar section end-->


<!--scripts-->

<script src="~/js/dashboard.js"></script>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>